<form class="form-inline" role="form" ng-submit="create()">
    <div class="form-group">
        <div class="input-group" style="width:150px">
            <span class="input-group-addon">Description</span>
            <input type="texts" style="width:200px;" class="form-control" id="inputExtractionRunDescription" ng-model="formData.description">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create Extraction Run</button>
</form>
<br/>
<table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
    <tr ng-repeat="run in $data"
        ng-click="changeSelection(run)"
        ng-class="{'active': run.$selected}">
        <td data-title="'Description'" sortable="'description'" filter="{ 'description': 'text' }">{{run.description}}</td>
        <td data-title="'Created on'" sortable="'createdOn'">{{ run.createdOnMomentCalendar }}</td>
        <td data-title="'Id'">{{run._id}}</td>
    </tr>
</table>

