<!-- <div class="page-header">
    <h1>Extract Article/Revisions of Sample Companies <small>todo</small></h1>
</div> -->
<p>
  <button class="btn btn-primary" ng-click="extractSample()">Extract Sample</button>
  <button class="btn btn-default" ng-click="listExtractedData()">Refresh Extracted Data</button>
  <button class="btn btn-default" ng-click="convertToRDF()">Convert to Extraction Results to RDF</button>
  <button class="btn btn-default" ng-click="extractSampleOccurences()">Extract Sample Occurences in Text</button>
</p>
<br/><br/>

<p>No of companies: {{ sampleSize }}</p>

<table ng-table="tableParams" show-filter="true" class="table">
    <tr ng-repeat="pageResult in $data">
        <td data-title="'Page Title'" sortable="'page.uriTitle'" filter="{ 'page': 'text' }">{{pageResult.page.uriTitle}}</td>
        <td data-title="'No of Quads'" sortable="'numberOfQuads'">{{pageResult.numberOfQuads}}</td>
        <td data-title="'No of Temporal Quads'" sortable="'numberOfTemporalQuads'">{{pageResult.numberOfTemporalQuads}}</td>
        <td data-title="'Results'"><a ng-show="pageResult.numberOfQuads > 0" target="_blank" href="/api/v1/pages/{{pageResult.page.uriTitle}}/results?extractionRunId={{pageResult.extractionRunId}}">display</a></td>
    </tr>
</table>
<br/>
<a target="_blank" href="/api/v1/extractionruns/{{extractionRunId()}}/get-rdf">display results rdf</a>
<a target="_blank" href="/api/v1/extractionruns/{{extractionRunId()}}/get-samples">display extracted samples</a>


