<div style="position:relative;">
    <div dw-loading="sample" dw-loading-options="{active: false, text: false}">
        <p>Random Sample:</p>
        <form class="form-inline" role="form">
            <div class="form-group">
                <div class="input-group" style="width:150px">
                    <input type="number" class="form-control" id="inputSampleSize" ng-model="formData.size">
                    <span class="input-group-addon">Size</span>
                </div>
            </div>
            <button ng-click="generateCompanySample()" class="btn btn-primary">Generate Company Random Sample</button>
            <button ng-click="generateSettlementSample()" class="btn btn-primary">Generate Settlement Random Sample</button>
            <button ng-click="generateAmericanFootballPlayerSample()" class="btn btn-primary">Generate AmericanFootballPlayer Random Sample</button>
        </form>
        <br/>
        <p>Specific sample from Line separated Resource URIs:</p>
        <form  class="form-inline" role="form"  ng-upload="uploadComplete(content)" action="/api/v1/extractionruns/resources-from-file">
            <div class="form-group">
            <input type="file" name="file" />
          <input type="hidden" name="extractionRunId" value="{{extractionRunId()}}">
          <input class="btn btn-primary" type="submit" class="btn" value="Submit" ng-disabled="$isLoading" upload-submit />
                </div>
        </form>
        <br/><br/>
        <p>No of resources in Extraction Run: {{ extractionRun.resources.length || 0}}</p>
        <br/>
        <table ng-table="tableParams" show-filter="true" class="table ng-table-rowselected">
            <tr ng-repeat="element in $data">
                <td data-title="'Resource URI'" sortable="'uri'" filter="{ 'uri': 'text' }">{{element.uri}}</td>
            </tr>
        </table>
<!--
        <div>
            <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                Previous
            </button>
            {{currentPage+1}}/{{numberOfPages()}}
            <button ng-disabled="currentPage >= companyResourceUris.length/pageSize - 1"
                    ng-click="currentPage=currentPage+1">
                Next
            </button>
        </div>
        <br/>
        <li ng-repeat="company in sample.elements | startFrom:currentPage*pageSize | limitTo:pageSize">
            <ul>
                <a href="{{company}}">{{company}}</a>
            </ul>
        </li>
    </div> -->
</div>
