<!-- <div class="page-header">
    <h1>Extract Article/Revisions of Sample Companies <small>todo</small></h1>
</div> -->
<p>
  <button class="btn btn-primary" ng-click="extractSample()">Extract Facts from Infoboxes</button>
  <button class="btn btn-primary" ng-click="extractSampleFreeText()">Extract Facts from Wiki Text</button>
<br/>
  <button class="btn btn-default" ng-click="convertToDistinctRDF()">Convert Infobox Extraction Results to distinct RDF</button>
    <button class="btn btn-default" ng-click="convertToRDF()">Convert Infobox Extraction Results to RDF</button>
    <br/>
  <button class="btn btn-default" ng-click="extractSampleOccurences()">Find Sample Facts in Wiki Text</button>
    <br/>
    <button class="btn btn-default" ng-click="collectStats()">Collect Stats about Wiki Text</button>
    <br/>
  <button class="btn btn-default" ng-click="listExtractedData()">Refresh Extracted Data</button>
</p>
<br/><br/>

<p>No of companies: {{ sampleSize }}</p>

<table ng-table="tableParams" show-filter="true" class="table">
    <tr ng-repeat="pageResult in $data">
        <td data-title="'Page Title'" sortable="'page.dbpediaResourceName'" filter="{ 'page': 'text' }">{{pageResult.page.dbpediaResourceName}}</td>
        <td data-title="'No of Quads'" sortable="'numberOfQuads'">{{pageResult.numberOfQuads}}</td>
        <td data-title="'No of Temporal Quads'" sortable="'numberOfTemporalQuads'">{{pageResult.numberOfTemporalQuads}}</td>
        <td data-title="'Results'"><a ng-show="pageResult.numberOfQuads > 0" target="_blank" href="/api/v1/pages/{{pageResult.page.dbpediaResourceName}}/results?extractionRunId={{pageResult.extractionRunId}}">display</a></td>
    </tr>
</table>
<br/>
<a download="{{extractionRunId()}}-rdf.tt" href="/api/v1/extractionruns/{{extractionRunId()}}/get-rdf">download rdf</a></br>
<a download="{{extractionRunId()}}-distinct-rdf.tt" href="/api/v1/extractionruns/{{extractionRunId()}}/get-distinct-rdf">download distinct rdf</a></br>
<a download="{{extractionRunId()}}-samples.zip" href="/api/v1/extractionruns/{{extractionRunId()}}/get-samples">download extracted samples</a></br>
<a download="{{extractionRunId()}}-facts.zip" href="/api/v1/extractionruns/{{extractionRunId()}}/get-facts">download extracted facts</a></br>
<a download="{{extractionRunId()}}-stats.zip" href="/api/v1/extractionruns/{{extractionRunId()}}/get-stats">download extracted stats</a></br>



